<div class="media" ng-repeat="list in subjects">
	<a class="media-left" href="#">
		<img ng-src="{{list.images.small}}" >
	</a>

	<div class="media-body" >
		<span class="badge" >{{list.rating.average}}</span>

		<p >片名:&nbsp{{list.title}}</p>

		<p >类型: <span ng-repeat="genres in list.genres">&nbsp{{genres}}&nbsp&nbsp</span> </p>

		<p >导演:<span ng-repeat="directors in list.directors">&nbsp{{directors.name}}&nbsp&nbsp</span></p>

		<p >主演:<span ng-repeat="casts in list.casts">&nbsp{{casts.name}}&nbsp&nbsp</span></p>
	</div>
</div>
